@font-face {
    font-family: ElianWideCapsLight;
    src: url('./ElianWideCapitalsLight.woff');
    font-weight: normal;
}

html {
    /* max-width: 70ch; */
    /* padding: calc(1vmin + 0.5rem); */
    margin-inline: auto;
    font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
    font-family: system-ui;
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
    line-height: 1.75;
}

body {
    background: #c5c8c6;
    margin: 0;
    overflow-x: clip;
}

div {
     position: relative;
}

.header {
    display: block;
    text-align: center;
    height: 100vh;
    color: #1d1f21;
    margin: 0;
}

.header:before {
    content: '';
    height:50%;
    width:50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

.header-img {
    max-width: 50%;
    height: 100vh;
    object-fit: cover;
    float: left;
    display: block;
}

.full-centerer {
    position: relative;
    text-align: center;
    height: 100vh;
}

.centerer {
    position: relative;
    text-align: center;
    height: 25vh;
}

.centered {
    /* position: absolute; */
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a {
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #e0e0e0;
}

.part-img {
    position: absolute;
    width: 100vw;
    height:100%;
    object-fit: cover;
    display: block;
}

.centerer:hover > .part-img {
    opacity:0.3;
}

.stanza {
    text-align: left;
    white-space: nowrap;
    display: inline-block;

    color: #1d1f21;
    background-color: #c5c8c6d0;
    margin: 0;

    position: relative;
    padding: 5%;
}

.stanza:before {
    content: '';
    height:100%;
    /* min-height: 100vh; */
    display: inline-block;
    margin-right: -0.25em;
}

.stanza-img {
    /* min-width: 100vw; */
    min-height: 100vh;
    max-width: 100vmin;
    max-height: 100vmin;
    object-fit: scale-down;
    position: sticky;
    top: 0%;
    left: 100%;
    display:block;
}

.stanza-bg {
    background-size: cover;
    background-position: center;
}

.instruction {
    font-family: revert;
    font-size: 1vmax;
}

p {
    font-size: 2vmax;
    font-family: ElianWideCapsLight;
    margin: 0;
    display: block;
}

ol {
    font-family: ElianWideCapsLight;
    font-size: 0.75vmax;
}

li span {
    font-size: 2vmax;
}

.stanza-line-number {
    display: inline-block;
}

p:hover, ol:hover {
    font-family: revert;
    opacity: 1;
}
