@font-face {
    font-family: ElianWideCapsLight;
    src: url('./ElianWideCapitalsLight.woff');
    font-weight: normal;
}

html {
    /* max-width: 70ch; */
    /* padding: calc(1vmin + 0.5rem); */
    /* margin-inline: auto; */
    font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
    font-family: system-ui;
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
    line-height: 1.75;
}

body {
    background: #c5c8c6;
    margin: 0;
    overflow-x: clip;
}

.parts {
    background-color: #c5c8c6;
}

.flipped-parts {
    background-color: #1d1f21;
}

div {
     position: relative;
}

.header {
    display: inline-block;
    text-align: center;
    height: 100vh;
    width: 50%;
    color: #1d1f21;
    margin: 0;
}

.flipped-header {
    display: inline-block;
    text-align: center;
    height: 100vh;
    width: 50%;
    color: #c5c8c6;
    margin: 0;
}

.header:before {
    content: '';
    height:50%;
    width:50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

.flipped-header:before {
    content: '';
    height:50%;
    width:50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

.header-img {
    max-width: 50%;
    height: 100vh;
    object-fit: cover;
    float: left;
    display: block;
}

.full-centerer {
    position: relative;
    text-align: center;
    height: 100vh;
}

.centerer {
    background-color: #c5c8c6;
    position: relative;
    text-align: center;
    height: 20%;
}

.part-selector {
    height: 100vh;
    width: 100vw;
}

.flipped-centerer {
    /*height: 100vh;
    width: 25vw;*/
    background-color: #1d1f21;
    position: relative;
    text-align: center;
    width: 20%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.flipped-centerer p {
    transform: rotate(-90deg);
}

.centered {
    /* position: absolute; */
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a {
    color: #e0e0e0;
    font-weight: bold;
    font-size: 0;
    text-decoration: none;
}

a:hover {
    color: #e0e0e0;
}

.part-img {
    background-color: #c5c8c6;
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
}

.flipped-part-img {
    background-color: #1d1f21;
    position: absolute;
    object-fit: cover;
    display: block;

    height:100%;
    width: 100%;
}

.centerer:hover > .part-img {
    opacity:0.3;
}

.flipped-centerer:hover > .flipped-part-img {
    opacity:0.3;
}

.stanza {
    text-align: left;
    white-space: nowrap;
    display: inline-block;

    font-family: ElianWideCapsLight;

    color: #1d1f21;
    background-color: #c5c8c6d0;
    margin: 0;

    position: relative;
    padding: 5%;
}

.stanza:before {
    content: '';
    height:100%;
    /* min-height: 100vh; */
    display: inline-block;
    margin-right: -0.25em;
}

.flipped-stanza {
    text-align: left;
    white-space: nowrap;
    display: inline-block;

    font-family: ElianWideCapsLight;

    color: #c5c8c6;
    background-color: #1d1f21d0;
    margin: 0;

    position: relative;
    padding: 5%;
}

.flipped-stanza:before {
    content: '';
    height:100%;
    /* min-height: 100vh; */
    display: inline-block;
    margin-right: -0.25em;
}

.stanza-img {
    /* min-width: 100vw; */
    min-height: 100vh;
    max-width: 100vmin;
    max-height: 100vmin;
    object-fit: contain;
    position: sticky;
    top: 0%;
    left: 100%;
    display:block;
}

.instruction {
    font-family: revert;
    font-size: 1vmax;
}

p {
    font-family: ElianWideCapsLight;
    font-size: 2vmax;
    margin: 0;
    /*display: block;*/
}

ol {
    font-size: 0.75vmax;
}

li span {
    font-size: 2vmax;
}

.stanza-line-number {
    display: inline-block;
}

p:hover, .stanza:hover {
    font-family: revert;
    opacity: 1;
}

p:hover, .flipped-stanza:hover {
    font-family: revert;
    opacity: 1;
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background: #1d1f21;
    }
    .header {
        color: #e0e0e0;
    }
    a {
        color: #1d1f21;
    }
    a:hover {
        color: #e0e0e0;
    }
    .stanza {
        color: #e0e0e0;
        background-color: #1d1f21d0;
    }
}
*/
